<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slot.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @slot.body %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
